/*
F8F9FA - branco+
E9ECEF - branco
DEE2E6 - branco-
CED4DA - cinza+
ADB5BD - cinza
6C757D - cinza-
495057 - preto+
343A40 - preto
212529 - preto-
*/

.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8vw;
  height: 100vh;
  top: 0;
  left: calc(-8vw + 15px );
  background-color: #495057;
  padding-top: 20px;
  /* auxilio do hover*/
  transition: left 0.5s ease;
  overflow-y: auto;
  /* glassmorphismo */
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 8px 32px 0;
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 999;
  animation: headsup 1.5s ease, backtonormal 1.5s ease 1.5s;

}
@keyframes headsup{
  from{left: calc(-8vw + 15px );}
  to{left: 0;}
}
@keyframes backtonormal {
  from {left: 0;}
  to {left: calc(-8vw + 15px );}
}



.side-bar:hover {
  left: 0;
}

.titulo {
  color: #F8F9FA;
  font-family: "Playfair Display", serif;
}
.svg-icon {
  width: 30%;
  height: auto;
  fill: #F8F9FA;
  margin-left: 35%;
  margin-top: 20px;
}

.resume {
  margin-top: 100vh;
  margin-left: 1px;

  height:1000px;
  background-color:#212529;
  font-size:30px;
  box-shadow: 0px -8px 50px -10px;
  animation: redcarpet 1.5s;
  font-family: "Playfair Display", serif;
}

@keyframes redcarpet {
  from {margin-top: 0;}
  to {margin-top: 100vh;}
}

