/*
F8F9FA - branco+
E9ECEF - branco
DEE2E6 - branco-
CED4DA - cinza+
ADB5BD - cinza
6C757D - cinza-
495057 - preto+
343A40 - preto
181A1C - preto-
*/

.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8vw;
  height: 100%;
  top: 0;
  left: calc(-8vw + 15px );
  background-color: #495057;
  padding-top: 20px;
  /* auxilio do hover*/
  transition: left 0.5s ease;
  overflow-y: auto;
  /* glassmorphismo */
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 8px 32px 0;
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 999;
  animation: headsup 1.5s ease, backtonormal 1.5s ease 1.5s;

}
@keyframes headsup{
  from{left: calc(-8vw + 15px );}
  to{left: 0;}
}
@keyframes backtonormal {
  from {left: 0;}
  to {left: calc(-8vw + 15px );}
}
.side-bar:hover {
  left: 0;
}

.titulo {
  color: #F8F9FA;
  font-family: "Playfair Display", serif;
  font-size: 1em;
}

.svg-icon {
  width: 30%;
  height: auto;
  fill: #F8F9FA;
  margin-left: 35%;
  margin-top: 20px;
}

.resume {
  align-items: center;
  margin-top: 100vh;
  width: 100vw;
  height: 100%;
  background-color:#181A1C;
  box-shadow: 0px -8px 50px -10px #181A1C;
  animation: redcarpet 1.5s;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  color: #DEE2E6;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: radial-gradient(#181A1C,#242629);

}
@keyframes redcarpet {
  from {margin-top: 0;}
  to {margin-top: 100vh;}
}

.textbox {
  padding-top: 10vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

.skillbox {
  display: flex;
  flex-direction: row;
  padding-top: 10vh;
  margin-left: 20vw;
  margin-right: 20vw;
  justify-content:space-evenly;
}

.card {
  width: 100vw;
  flex-direction: column;
}

.iconrow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 1em;
}
.icons {
height: 8%;
width: 12%;
transition: 0.5s ease;
}
.icons:hover {
  height: 12%;
  width: 16%;
  transition: 0.5s ease;
}

#mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  #computer {
    display: none;
  }
  #mobile {
    display:flex;
  }
  #contato {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 0.7em;
  }
  .textbox {
    text-align: center;
  }
  .iconrow{
    padding-bottom: 3em;
  }
  .icons {
    height: 30%;
    width: 40%;
  }
  .icons:hover {
    height: 35%;
    width: 45%;
  }
  .side-bar {
    display:none;
  }
  .skillbox {
    padding-top: 0;
    align-items: center;
    flex-direction: column;
  }
  .card {
    text-align: center;
    width: 100%;
  }

}
